<table style="font-family:'Arial Black',Gadget,sans-serif">
  <tbody>
    <tr>
      <td>
        <table style="border-collapse: collapse">
          <tbody>
            <tr>
              <td style="font-size:14px">
                <b><%= name %></b><br>
                <%= position %>
              </td>
            </tr>
            <tr>
              <td>
                <table style="border-collapse: collapse">
                  <tbody>
                    <tr>
                      <td>
                        <img src="https://www.myfreight.com.au/orange-triangle/" style="width:31px;height:35px">
                      </td>
                      <td>
                        <p style="font-size:11px; margin: 0px">
                          <%= phone %><br>
                          <%= mobile %>
                        </p>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <td>
                <table style="border-collapse: collapse">
                  <tbody>
                    <tr>
                      <td>
                        <img src="https://www.myfreight.com.au/blue-triangle/" style="width:31px;height:35px">
                      </td>
                      <td>
                        <p style="font-size:11px; margin: 0px">
                          <%= email %><br>
                          www.myfreight.com.au
                        </p>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <td>
                <table style="border-collapse: collapse">
                  <tbody>
                    <tr>
                      <td>
                        <img src="https://www.myfreight.com.au/pink-triangle/" style="width:31px;height:35px">
                      </td>
                      <td>
                        <p style="font-size:11px; margin: 0px">
                          <%= address_line_1 %><br>
                          <%= address_line_2 %>
                        </p>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
      <td style="padding-left:15px;">
        <img src="https://www.myfreight.com.au/myfreight-christmas-tree/" style="width:250px;height:148px"></div>
      </td>
    </tr>
    <tr style="line-height: 0px"><td></td></tr>
  </tbody>
</table>
<!--<div style="margin:10px">-->
<!--  <img src="https://www.myfreight.com.au/truck-banner-small" style="width:330px;height:65px">-->
<!--</div>-->
<p style="font-size: 11pt">Myfreight is committed to protecting the health and wellbeing of our people, their families, our clients and stakeholders. Please read <b><a href="https://www.myfreight.com.au/how-myfreight-is-navigating-covid-19/">How Myfreight is navigating COVID19</a></b> for information on how we are continually acting to support our business and our customers.</p>
<p style="font-size: 8pt">This email is intended only for the person to whom it is addressed and/or otherwise authorised personnel. The information contained herein and within attachments is confidential and the property of Myfreight. If you are not the intended recipient, please be advised that viewing this message and any attachments, as well as copying, forwarding, printing, and disseminating any information related to this email is prohibited, and that you should not take any action based on the content of this email and/or its attachments. If you received this message in error, please contact the sender and destroy all copies of this email and any attachment. Please note that the views and opinions expressed herein are solely those of the author and do not necessarily reflect those of the business. No liability is accepted for any consequences arising from this email.</p>
