<table style="font-family:'Arial Black',Gadget,sans-serif">
  <tbody>
    <tr>
      <td style="padding-right:15px;">
        <img src="https://www.myfreight.com.au/wp-content/uploads/2019/08/Myfreight-Logo-Complex-Freight-Made-Simple-Small.png" style="width:120px;height:89px"></div>
      </td>
      <td style="width:2px;background-color:rgb(246,148,49);margin: 5px"></td>
      <td>
        <table>
          <tbody>
            <tr>
              <td style="font-size:14px">
                <b><%= name %></b><br>
                <%= position %>
              </td>
            </tr>
            <tr>
              <td>
                <table>
                  <tbody>
                    <tr>
                      <td>
                        <img src="https://www.myfreight.com.au/telephone-icon-orange-triangle-small" style="width:26px;height:29px">
                      </td>
                      <td>
                        <p style="font-size:11px; margin: 0px">
                          <%= phone %><br>
                          <%= mobile %>
                        </p>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <td>
                <table>
                  <tbody>
                    <tr>
                      <td>
                        <img src="https://www.myfreight.com.au/website-icon-blue-triangle-small" style="width:26px;height:29px">
                      </td>
                      <td>
                        <p style="font-size:11px; margin: 0px">
                          <%= email %><br>
                          www.myfreight.com.au
                        </p>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <td>
                <table>
                  <tbody>
                    <tr>
                      <td>
                        <img src="https://www.myfreight.com.au/location-icon-pink-triangle-small" style="width:26px;height:29px">
                      </td>
                      <td>
                        <p style="font-size:11px; margin: 0px">
                          <%= address_line_1 %><br>
                          <%= address_line_2 %>
                        </p>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <td style="line-height: 0px"><img src="https://www.myfreight.com.au/white_space" style="float:left;width:300px;height:5px"></img></td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr style="line-height: 0px"><td></td></tr>
  </tbody>
</table>
<!--<div style="margin:10px">-->
<!--  <img src="https://www.myfreight.com.au/truck-banner-small" style="width:330px;height:65px">-->
<!--</div>-->
<p>This email is intended only for the person to whom it is addressed and/or otherwise authorised personnel. The information contained herein and within attachments is confidential and the property of Myfreight. If you are not the intended recipient, please be advised that viewing this message and any attachments, as well as copying, forwarding, printing, and disseminating any information related to this email is prohibited, and that you should not take any action based on the content of this email and/or its attachments. If you received this message in error, please contact the sender and destroy all copies of this email and any attachment. Please note that the views and opinions expressed herein are solely those of the author and do not necessarily reflect those of the business. No liability is accepted for any consequences arising from this email.</p>
